*
!.gitignore

!source
!source/matlab
!source/matlab/*.m
!source/matlab/*.bmp
!source/matlab/*.png

!Tik_Tac_Toe
!Tik_Tac_Toe/Tik_Tac_Toe.out.sdc
!Tik_Tac_Toe/Tik_Tac_Toe.qpf
!Tik_Tac_Toe/Tik_Tac_Toe.qsf
!Tik_Tac_Toe/Tik_Tac_Toe.qws

!source/verilog
!source/verilog/*.v

!source/testbench
!source/testbench/*.v

!source/IPS
!source/IPS/PLL
!source/IPS/PLL/*
!source/IPS/IO_BUF
!source/IPS/IO_BUF/*