*
!.gitignore

!source
!source/matlab
!source/matlab/*.m
!source/matlab/*.bmp
!source/matlab/*.png

!source/verilog
!source/verilog/*.v

!source/testbench
!source/testbench/*.v

!source/IPS
!source/IPS/PLL
!source/IPS/PLL/*
!source/IPS/ISSP
!source/IPS/ISSP/*
!source/IPS/IO_BUF
!source/IPS/IO_BUF/*